<%- include ('../partials/header') %>

    <div class="breadcumb-area bg-img" style="background-color: #292929; height: 109px;">
        <div class="bradcumbContent">
            <h2>Payment</h2>
        </div>
    </div>
    <section class="contact-area" style="margin-top: 70px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-content" id="courses-contact" style="background-color: #292929; top: 20px; margin-left: 0px">
                        <div class="row">
                            <!-- Contact Information -->
                            <div class="col-12 col-lg-5">
                                <div class="contact-information wow fadeInUp" data-wow-delay="400ms">
                                    <div class="section-heading text-left">
                                        <span>Payment</span>
                                        <h3>Get in touch with us!</h3>
                                        <p class="mt-30">We’d love to hear from you. If you’re interested in learning more about Capztone, please submit your information here.</p>
                                    </div>

                                    <!-- Contact Social Info -->
                                    <div class="contact-social-info d-flex mb-30">
                                        <!-- <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a> -->
                                        <a href="https://www.facebook.com/Capztone-Innovative-Solution-102952757846253/?modal=admin_todo_tour"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="https://twitter.com/capztone"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <!-- <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a> -->
                                        <!-- <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a> -->
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </div>

                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info d-flex">
                                        <div class="contact-icon mr-15">
                                            <i class="icon-placeholder"></i>
                                        </div>
                                        <p>Kuvemphu Layout 117, 3rd Cross Road, Gubbi Cross, Kothanur, <br>Bengaluru, Karnataka 560077</p>
                                    </div>

                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info d-flex">
                                        <div class="contact-icon mr-15">
                                            <i class="icon-telephone-1"></i>
                                        </div>
                                        <p>Main: +91 74603 04567<br></p>
                                    </div>

                                    <!-- Single Contact Info -->
                                    <div class="single-contact-info d-flex">
                                        <div class="contact-icon mr-15">
                                            <i class="icon-contract"></i>
                                        </div>
                                        <p>info@Capztone.com</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Contact Form Area -->
                            <div class="col-12 col-lg-7">
                                <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms" style="background-color: #292929;">
                                    <p>Your Course is: <%= trainDoc.Name%></p>
                                    <p>The Amount is: <%= trainDoc.Payment%></p>
                                    <form action="payment" method="POST">
                                        <script
                                            src="//checkout.stripe.com/v3/checkout.js"
                                            class="stripe-button"
                                            data-key="<%= key %>" 
                                            data-amount="<%=trainDoc.Payment * 100 %>" 
                                            data-currency="inr" 
                                            data-name="<%=user.displayName %>" 
                                            data-description="<%= trainDoc.Name %>" 
                                            data-locale="auto" > 
                                        </script>                                    
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include ('../partials/footer') %>
