<%- include ('./partials/header') %>
    <div>
        <br>
        <br>
    </div>
    <% snapshot.forEach(doc => { %>
        <div class="popular-course-details-area wow fadeInUp" data-wow-delay="300ms">
            <div class="single-top-popular-course d-flex align-items-center flex-wrap" style="background-color: #484848;background-image: url(<%= doc.data().Image%>); background-size: cover;">
                <div class="popular-course-content" style="background-color: #484848; ">
                    <h5><%= doc.data().Name%></h5>
                    <br>
                    <p><%= doc.data().Content%></p>
                    <a href="/train/<%= doc.data().Name%>" class="btn academy-btn btn-sm mt-15">See More</a>
                    <% if(Authenticated) {%>
                        <a href="/train/<%= doc.data().Name%>/payment" class="btn academy-btn btn-sm mt-15 secondButton">Payment</a>
                    <% } %>
                </div>
                <div class="popular-course-thumb bg-img"></div>
            </div>
        </div>
    <% })%>



    <%- include ('./partials/footer') %>